# Data Science tools and Ecosystem

## Author
Devendra

In this notebook, data science tools and Ecosystems are summarized.

**objectives**
- Cover common data science languages 
- Cover common libraries used
- Teach how basic arithmetic works in python

#### The most common data science languages are
1. SQL
2. Python
3. Scala

#### Some of the most commonly used libraries by data scientists are
1. Pandas
2. NumPy
3. Scikit

|Data Science Tools|
--
|RStudio|
|Apache Spark|
|Hadoop|

### Below are three examples of artithmetic expressions in python

In [1]:
#this is a simple arithmetic expression to multiply and add integers
(3*4)+5

17

In [2]:
Min=200
Hours=60
Min/Hours

3.3333333333333335